html {
  height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-y: hidden;
  background: black !important;
  color: #eee !important;
}

body * {
  color: #eee !important;
  background: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
